*{
    font-family: 'Outfit', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    
}

body{
    background-color: hsl(212, 45%, 89%);
}

#qr-container{
    width: 288px;   
    height: 465px;
    background-color: white;
    margin: auto;
    margin-top: 152px;
    margin-bottom: 130px;
    padding: 1rem;
    border: 0px solid white;
    border-radius: 12px;
    flex-direction: column;
}
#img-qr{
    background-color: white;
    
}

#img-qr img{
    border: 0px;
    border-radius: 8px;
    width: 288px;
    height: 288px;
    
    
}

#text1 {
    color: hsl(218, 44%, 22%);
    background-color: white;
    font-weight:400, 700 ;
    font-size: 1.3rem;
    margin-left:  10px;
    margin-right: 10px;
    
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    
    
}
#text2 {
    color:hsl(220, 15%, 55%) ;
    background-color: white;
    font-size: 15px;
    margin-bottom: 27px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}


@media (max-width: 400px){
    #qr-container{
        margin-top: 85px;
        margin-bottom: 65px;
        height: 465px;
    }

}